@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=PT+Sans&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Comfortaa', sans-serif;
    color:#EFE2BA;
}

body {
    font-family: 'PT Sans', sans-serif;
    color:#333F48;
}
hr {
    border: none !important;
    margin: 5px; 
}
/* Header -navbar*/
#navbar-element.navbar {
    background-color: #215924 !important;
}
#navbar-element.navbar .nav-link {
    font-family: 'Comfortaa', sans-serif !important;
    color:#EFE2BA;
    font-size: 20px;
}
#nav-title-logo {
    color: #EFE2BA;
    padding: 5px;
    font-size: 26px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.nav-item:hover {
    text-decoration: underline;
    text-decoration-color: #EFE2BA;
}
.dropdown-item {
    font-family: 'PT Sans', sans-serif;
    color:#333F48;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(239, 226, 186)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}
/* Carousel*/
#carousel-section {
    margin-top: 15px;
    margin-bottom: 15px;
}
.carousel-caption h5 {
    font-size: 26px !important;
    background-color:#215924;
    padding: 10px;
}
.carousel-caption p {
    font-size: 20px !important;
    background-color:#4056A1;
    padding: 10px;
}
.carousel-caption {
    position: absolute;
    right: 30%;
    bottom: 20px;
    left: 30%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #EFE2BA;
    text-align: center;
}
/* About section*/
#about-index-container {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #EFE2BA;
    border: 8px solid #D79922;
    padding: 10px;
    border-radius: 10px; 
}
#about-text {
    background-image: url('https://res.cloudinary.com/dmncxwmip/image/upload/v1707554412/happy-leaf-website/background-about-section_nhklao.jpg'); 
    background-size: cover; 
    background-position: center; 
}
#about-text h1{
    color:#333F48 !important;
    margin-top: 50px;
    font-size: 26px;
}
#about-text h5{
    color:#333F48 !important;
    margin-top: 50px;
    font-size: 20px;
}
#about-text p{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
#about-btn{
    background-color: #215924;
    color: #EFE2BA;
    margin-top: 10px;
    margin-bottom: 30px;
}
#about-btn:hover{
    background-color: #4056A1;
    color: #EFE2BA;
}
/* Preview section - Check our blog and join the community*/
#preview-section {
    background-color: #215924 !important;
    padding-top: 50px;
    padding-bottom: 50px;
}
.card-title{
    color:#333F48 !important;
    font-size: 24px;
}
.card-body p{
    font-family: 'PT Sans', sans-serif;
    color:#333F48;
}
.card-body .btn{
    background-color: #215924;
    color: #EFE2BA;
}
.card-body .btn:hover{
    background-color: #4056A1;
    color: #EFE2BA;
}
/*Footer*/
#footer-details{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #EFE2BA;
}
.list-group-item a {
    font-family: 'PT Sans', sans-serif;
    color:#333F48;
  }
  
.list-group-item a:hover {
    font-family: 'PT Sans', sans-serif;
    color:#333F48;
  }
#footer-logo {
    color: #215924;
    background-color: #EFE2BA;
    font-size: 26px;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
}
#footer-text {
    margin-right: 30px;
    margin-left: 20px;
}
.social-networks .list-group-item{
    color: #215924;
    margin-left: 50px;
}
#social-networks-title{
    color: #333F48;
    margin-left: 50px;
    margin-bottom: 10px;
}
/* About page - more information section */
.head-about-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 5px;
}
#about-page-title{
    color:#333F48 !important;
    margin-top: 50px;
    margin-left: 25px;
    font-size: 26px;
}
.about-page-text{
    margin-top: 50px;
    margin-right: 60px;
    margin-left: 60px;
    margin-bottom: 50px;
}
/* About page - meet the team section */
#meet-team-title {
    background-color: #215924 !important;
    padding-top: 30px;
    margin-top: 50px;
}
#meet-team {
    background-color: #215924 !important;
    padding-top: 30px;
    padding-bottom: 50px;
}
/* Contact page - form section */
#contact-form {
    background-color: #D79922 !important;
    padding: 20px;
    margin: 30px;
}
#background-container {
    background-image: url('https://res.cloudinary.com/dmncxwmip/image/upload/v1707579101/happy-leaf-website/contact-us-resized_gvgzkl.jpg'); 
    background-size: cover; 
    background-position: center; 
    height: 700px;
    padding: 20px; 
 }
.form-group label{
    background-color: #215924;
    color: #EFE2BA;
    padding: 5px;
}
.form-check label{
    background-color: #215924;
    color: #EFE2BA;
    padding: 5px;
}
#submit-btn {
    background-color: #215924;
    color: #EFE2BA;
    margin-top: 20px;
}
#submit-btn:hover {
    background-color: #4056A1;
    color: #EFE2BA;
    margin-top: 20px;
}
#thank-you-message {
    font-family: 'Comfortaa', sans-serif;
    font-size: 26px;
    background-color: #215924;
    color: #EFE2BA;
    padding: 50px;
}
/* Blog Page */
.masthead-image {
    margin-top: 15px !important;
}
.btn-blog-pages {
    background-color: #215924;
    color: #EFE2BA;
}
.btn-blog-pages:hover {
    background-color: #4056A1;
    color: #EFE2BA;
}
/* Post_detail page */
#post-title-1 {
    color: #215924 !important;
    margin-top: 30px;
}
#comments-section, #comments-section2 {
    color: #215924 !important;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* Login page */
.outer-container {
    background-image: url('https://res.cloudinary.com/dmncxwmip/image/upload/v1707554412/happy-leaf-website/background-about-section_nhklao.jpg'); 
    background-size: cover; 
    background-position: center;
    padding-top: 50px;
    padding-bottom: 80px;
}
#login-details-container {
    margin-top: 50px;
    margin-bottom: 80px;
    background-color: #EFE2BA;
    border: 8px solid #215924;
    padding: 20px;
    border-radius: 10px; 
}
#sign-in-title {
    color: #215924;
}
#signin-button {
background-color: #215924;
color: #EFE2BA;
padding: 10px;
}
#signin-button:hover{
background-color: #4056A1;
color: #EFE2BA;
}
.auth-form-link {
    color: #215924 !important;
    font-weight: bold;
}
.auth-form-link:hover {
    color: #215924 !important;
    text-decoration: underline;
}
/* Signup page */
#signup-details-container {
    margin-top: 50px;
    margin-bottom: 80px;
    background-color: #EFE2BA;
    border: 8px solid #215924;
    padding: 20px;
    border-radius: 10px; 
}
#sign-up-title {
    color: #215924;
}
#sign-up-button {
    background-color: #215924;
    color: #EFE2BA;
    padding: 10px;
}
#sign-up-button:hover{
    background-color: #4056A1;
    color: #EFE2BA;
}
/*Log out page*/
.outer-container-1 {
    background-image: url('https://res.cloudinary.com/dmncxwmip/image/upload/v1707554412/happy-leaf-website/background-about-section_nhklao.jpg'); 
    background-size: cover; 
    background-position: center;
    padding-top: 80px;
    padding-bottom: 100px;
}
#logout-details-container {
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: #EFE2BA;
    border: 8px solid #215924;
    padding: 20px;
    border-radius: 10px; 
}
#logout-title {
color: #215924;
}
#logout-btn {
    background-color: #215924;
    color: #EFE2BA;
    padding: 10px;
}
#logout-btn:hover {
    background-color: #4056A1;
    color: #EFE2BA;
}
/*Category tags*/
.category-tag {
    background-color: #215924;
    color: #EFE2BA !important;
    padding: 4px 8px;
    border-radius: 4px;
}
/* Search Results */
#search-result {
    color: #215924;
    margin: 20px;
}
/*Delete Comment Page*/
.delete-edit-comment {
    margin-top: 50px;
    margin-bottom: 80px;
    background-color: #EFE2BA;
    border: 8px solid #215924;
    padding: 20px;
    border-radius: 10px; 
}
#delete-comment {
    color: #215924;
}
#delete-comment-btn {
    background-color: #215924;
    color: #EFE2BA;
    padding: 10px;
}
#delete-comment-btn:hover{
    background-color: #4056A1;
    color: #EFE2BA;
}
/*Edit comment page*/
#edit-comment-container {
    margin-top: 50px;
    margin-bottom: 80px;
    background-color: #EFE2BA;
    border: 8px solid #215924;
    padding: 20px;
    border-radius: 10px; 
}
#edit-comment {
    color: #215924;
}
#edit-comment-btn {
    background-color: #215924;
    color: #EFE2BA;
    padding: 10px;
}
#edit-comment-btn:hover{
    background-color: #4056A1;
    color: #EFE2BA;
}
/*Media Queries - Index page*/
@media (max-width: 1300px) {
    #preview-section .card {
        width: 22rem !important; 
        margin: 0 auto !important;
    }
}
@media (max-width: 1100px) {
    #preview-section .card {
        width: 18rem !important; 
        margin: 0 auto !important;
    }
}
@media (max-width: 950px) {
    #preview-section .card {
        width: 14rem !important; 
        margin: 0 auto !important;
    }
}
@media (max-width: 768px) {
    #preview-section .card {
        width: 22rem !important; 
        margin: 0 auto !important;
    }
}
/* Media queries - Footer */
@media (max-width: 549px) {
    .footer-responsive-column {
        flex: 0 0 100%;
        max-width: 100%;
    }
    #social-networks-title {
        margin-top: 50px;  
}
}
/*Media queries - About page*/
@media (max-width: 919px) {
    #meet-team .col-lg-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
/*Media queries - Contact us form*/
@media (max-width: 550px) {
    #contact-form {
        padding: 5px 20px;
        margin: unset !important;
    }
}
/*Media queries - Index page*/
@media (max-width: 550px) {
    .carousel-caption h5 {
        font-size: 18px !important;
}
}