@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=PT+Sans&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Comfortaa', sans-serif;
    color:white;
}

body {
    font-family: 'PT Sans', sans-serif;
    color:#333F48;
}
/* Header -navbar*/
#navbar-element.navbar {
    background-color: #1FAB89 !important;
}
#navbar-element.navbar .nav-link {
    font-family: 'Comfortaa', sans-serif !important;
    color:white;
    font-size: 20px;
}
#nav-pic {
    width: 40%;
    height: auto;
    word-spacing: 20%;
}
/* Carousel*/
.carousel-caption h5 {
    font-size: 26px !important;
    background-color:#019267;
    padding: 10px;
}
.carousel-caption p {
    font-size: 20px !important;
    background-color:#1FAB89;
    padding: 10px;
}
.carousel-caption {
    position: absolute;
    right: 30%;
    bottom: 20px;
    left: 30%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}
/* About section*/
#about-pic {
    width: 95%;
    height: auto;
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 50px;
}
#about-text h1{
    color:#333F48 !important;
    margin-top: 50px;
    margin-left: 100px;
    font-size: 30px;
}
/* Preview section - Check our blog and join the community*/
#preview-section {
    background-color: #1FAB89 !important;
    padding-top: 50px;
    padding-bottom: 50px;
}
.card-title{
    color:#333F48 !important;
    font-size: 24px;
}
.card-body p{
    font-family: 'PT Sans', sans-serif;
    color:#333F48;
}
.card-body .btn{
    background-color: #1FAB89;
    color: white;
}
.card-body .btn:hover{
    background-color: #019267;
    color: white;
}