{% extends "base.html" %}
{% block content %}
<main class="grid">
   <div class="container-fluid">
      <!---About us page - more information -->
      <div class="row">
         <div class="col-12">
            <img src="https://res.cloudinary.com/dmncxwmip/image/upload/v1707577204/happy-leaf-website/line-break-flowers_abjsl9.jpg" alt="Line separator with flowers" class="img-fluid fill-container">
            <h1 id="about-page-title">MORE ABOUT 葉 HAPPY LEAF</h1>
            <p class="about-page-text">Welcome to Happy Leaf, a vibrant community and blog dedicated to embracing a lifestyle harmonious with nature and its patterns. Our platform is an inclusive and non-judgmental space where individuals are encouraged to explore and freely express their opinions and advice on living an eco-friendly life.
            </p>
            <p class="about-page-text">In our pursuit of a harmonious connection with nature, we draw inspiration from the profound verses of Ki no Tsurayuki, a distinguished poet from the "Kokin Wakashū." This classical Japanese poetry anthology, compiled in the 10th century, encapsulates the essence of nature, the changing seasons, and the beauty found in simplicity.
               Tsurayuki's evocative lines resonate with the themes of transformation and the delicate balance of the natural world. By featuring this timeless poem, we invite you to reflect on the enduring wisdom embedded in nature's rhythm and discover how it harmonizes with our commitment to environmental awareness and sustainable living.
            </p>
            <p class="about-page-text">At Happy Leaf, we believe in fostering a supportive environment where members can share insights, exchange ideas, and provide guidance on adopting a more sustainable lifestyle. Our mission is rooted in collaboration and improvement, with a commitment to understanding and helping one another grow.
               Join us on this journey of positive change as we strive to create a nurturing space that encourages personal and collective development without judgment. Happy Leaf is more than a community; it's a celebration of the shared commitment to a greener and more sustainable world. Together, let's inspire and uplift each other in our quest for a healthier and happier life in harmony with nature.
            </p>
         </div>
      </div>
      <!---Meet the team section -->
      <div class="row" id="meet-team-title">
         <div class="col-12 text-center">
            <h1>Meet the team:</h1>
         </div>
      </div>
      <div class="row justify-content-center" id="meet-team">
         <div class="col-lg-4 d-flex flex-column align-items-center mb-4">
            <div class="card" style="width: 18rem;">
               <img src="https://res.cloudinary.com/dmncxwmip/image/upload/v1704477566/happy-leaf-website/susanna-avatar_gvule2.png" class="card-img-top" alt="Avatar of the developer of the website.">
               <div class="card-body">
                  <h5 class="card-title">Susanna</h5>
                  <p class="card-text">Full-Stack Software Developer and Digital Marketer, with design and sales experience.</p>
               </div>
            </div>
         </div>
         <div class="col-lg-4 d-flex flex-column align-items-center mb-4">
            <div class="card" style="width: 18rem;">
               <img src="https://res.cloudinary.com/dmncxwmip/image/upload/v1704477566/happy-leaf-website/azad-avatar_g02um7.png" class="card-img-top" alt="Avatar of the chef and blogger of the website.">
               <div class="card-body">
                  <h5 class="card-title">Azad</h5>
                  <p class="card-text">Chef and blogger specialised in vegan, vegetarian cusine and sustainable cooking techniques. </p>
               </div>
            </div>
         </div>
         <div class="col-lg-4 d-flex flex-column align-items-center mb-4">
            <div class="card" style="width: 18rem;">
               <img src="https://res.cloudinary.com/dmncxwmip/image/upload/v1704477566/happy-leaf-website/shannon-avatar_omj8qu.png" class="card-img-top" alt="Avatar of the activist of the website.">
               <div class="card-body">
                  <h5 class="card-title">Shannon</h5>
                  <p class="card-text">Expert in environmental policies and initiatives in Ireland, advocate for sustainable practices. </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</main>
{%endblock%}