{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="Environment, eco-friendly lifestayle, vegan food">
      <title>葉 Happy Leaf</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
   </head>
   <body>
      <!---Header with logo and nav element, navigation menu -->
      <header>
         <nav class="navbar navbar-expand-sm" id="navbar-element">
            <div class="container-fluid">
               <div class="navbar-header" id="nav-logo">
                  <a href="{% url 'index_urls' %}">
                  <img src="https://res.cloudinary.com/dmncxwmip/image/upload/v1705765064/happy-leaf-website/logo_vjxmjz.png" alt="Logo picture" id="nav-pic">
                  </a>
               </div>
               <ul class="nav justify-content-end">
                  <li class="nav-item">
                     <a class="nav-link" href="{% url 'about_urls' %}">About</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="{% url 'blog' %}">Blog</a>
                  </li>
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="personal-area-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Personal area
                     </a>
                     <div class="dropdown-menu" aria-labelledby="personal-area-dropdown">
                        <a class="dropdown-item" href="#">Log-in</a>
                        <a class="dropdown-item" href="#">Sign-up</a>
                     </div>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="{% url 'contact_urls' %}">Contact us</a>
                  </li>
               </ul>
            </div>
         </nav>
      </header>
      <main class="grid d-flex align-items-center justify-content-center" id="background-container">
         <div class="container-fluid">
            <!---Contact us form -->
            <div class="row justify-content-center">
               <div class="col-6" id="contact-form">
                  <form onsubmit="return sendMail(this);">
                     <div class="form-group">
                        <label for="form-group-input1">Name:</label>
                        <input type="text" class="form-control" id="form-group-input1" placeholder="Daria" required>
                     </div>
                     <div class="form-group">
                        <label for="form-group-input2">Surname:</label>
                        <input type="text" class="form-control" id="form-group-input2" placeholder="Marshall" required>
                     </div>
                     <div class="form-group">
                        <label for="email-input">Email address:</label>
                        <input type="email" class="form-control" id="email-input" placeholder="daria.marshall@gmail.com" required>
                     </div>
                     <div class="form-group">
                        <label for="inquiry-type">Your inquiry is about:</label>
                        <select class="custom-select" id="inquiry-type" required>
                           <option selected> </option>
                           <option value="1">Ask for general information</option>
                           <option value="2">Problems with my account</option>
                           <option value="3">Become a blog contributor</option>
                           <option value="4">Other</option>
                        </select>
                     </div>
                     <div class="form-group">
                        <label for="textarea-message">Leave a message and we will be happy to assist you:</label>
                        <textarea class="form-control" id="textarea-message" rows="3" required></textarea>
                     </div>
                     <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="checkbox" id="privacy-checkbox">
                        <label class="form-check-label" for="privacy-checkbox">
                        By checking this box I agree with the privacy policy*
                        </label>
                     </div>
                     <button type="submit" class="btn" id="submit-btn">Submit</button>
                  </form>
               </div>
               <div class="col-6" id="thank-you-message" style="display: none;">
                  Thank you for getting in touch! We will contact you as soon as possible. Refresh the page to send another enquiry.
              </div>
            </div>
         </div>
      </main>
      <!--- Footer with contacts and social media -->
      <footer class="container-fluid">
         <div id="footer-details" class="row">
            <div class="col-4">
               <img src="https://res.cloudinary.com/dmncxwmip/image/upload/v1704320191/happy-leaf-website/logo2_q6d6oa.png" alt="Logo picture" id="footer-logo">
               <p id="footer-text">Join us in fostering a supportive space where we encourage positive change, personal growth, and a collective commitment to a greener world. </p>
            </div>
            <div class="col-4">
               <ul class="list-group list-group-flush">
                  <li class="list-group-item"><a href="#">About</a></li>
                  <li class="list-group-item"><a href="#">Blog</a></li>
                  <li class="list-group-item"><a href="#">Personal area</a></li>
                  <li class="list-group-item"><a href="#">Contact us</a></li>
               </ul>
            </div>
            <div class="col-4">
               <h5 id="social-networks-title">Follow us:</h5>
               <ul class="social-networks list-unstyled">
                  <li>
                     <a href="https://facebook.com" target="_blank" rel="noopener" aria-label="Visit Our Facebook Page (opens in a new tab)"><i class="fa-brands fa-facebook list-group-item">    happyleaf</i></a>
                  </li>
                  <li>
                     <a href="https://youtube.com" target="_blank" rel="noopener" aria-label="Visit Our YouTube Page (opens in a new tab)"><i class="fa-brands fa-youtube list-group-item">    happyleafvideo</i></a>
                  </li>
                  <li>
                     <a href="https://Instagram.com" target="_blank" rel="noopener" aria-label="Visit Our Instagram Page (opens in a new tab)"><i class="fa-brands fa-instagram list-group-item">    ha.happyleaf</i></a>
                  </li>
               </ul>
            </div>
         </div>
         <script src="https://kit.fontawesome.com/ea255401c6.js" crossorigin="anonymous"></script>
      </footer>
      <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
      <script type="text/javascript"
         src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
      <script type="text/javascript">
         (function(){
         emailjs.init("1mv6klwjNTNE5-UAS");
         })();
      </script>
      <script src="/Users/susi/Desktop/Django Project/Happy-Leaf/static/js/sendEmail.js"></script>
   </body>
</html>