{% extends "base.html" %}
{% block content %}

<main class="grid">
   <div class="container-fluid">
      <!---Carousel with titles -->
      <div class="row">
         <div class="col-12" id="carousel-section">
            <div id="carousel-ecotips-captions" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#carousel-ecotips-captions" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-ecotips-captions" data-slide-to="1"></li>
                  <li data-target="#carousel-ecotips-captions" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <a href="{% url 'blog' %}">
                        <img src="https://res.cloudinary.com/dmncxwmip/image/upload/v1707770653/happy-leaf-website/slideshow1_qwgwkl.jpg" class="d-block w-100" alt="Robin singing on a cheery blossom tree">
                        <div class="carousel-caption d-md-block">
                           <h5>DAILY ECO-TIPS</h5>
                           <p class="d-none d-md-block">Explore valuable tips and advice on adopting a more eco-friendly lifestyle.</p>
                        </div>
                     </a>
                  </div>
                  <div class="carousel-item">
                     <a href="{% url 'blog' %}">
                        <img src="https://res.cloudinary.com/dmncxwmip/image/upload/v1707773556/happy-leaf-website/slideshow2_is3kuf.jpg" class="d-block w-100" alt="Green forest and blue sky">
                        <div class="carousel-caption d-md-block">
                           <h5>DISCOVER DELICIOUS VEGAN RECIPES</h5>
                           <p class="d-none d-md-block">Check out some yummy vegan recipes to satisfy your cravings!</p>
                        </div>
                     </a>
                  </div>
                  <div class="carousel-item">
                     <a href="{% url 'blog' %}">
                        <img src="https://res.cloudinary.com/dmncxwmip/image/upload/v1707770654/happy-leaf-website/slideshow3_ko0fly.jpg" class="d-block w-100" alt="Irish costal environment">
                        <div class="carousel-caption d-md-block">
                           <h5>GREEN IRELAND</h5>
                           <p class="d-none d-md-block">Find out the initiatives our green island has to offer</p>
                        </div>
                     </a>
                  </div>
               </div>
               <button class="carousel-control-prev" type="button" data-target="#carousel-ecotips-captions" data-slide="prev">
               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
               <span class="sr-only">Previous</span>
               </button>
               <button class="carousel-control-next" type="button" data-target="#carousel-ecotips-captions" data-slide="next">
               <span class="carousel-control-next-icon" aria-hidden="true"></span>
               <span class="sr-only">Next</span>
               </button>
            </div>
         </div>
      </div>
      <!---About section -->
      <div class="row justify-content-center">
         <div class="col-12 text-center" id="about-text">
            <div class="container" id="about-index-container">
               <h1>ABOUT 葉 HAPPY LEAF</h1>
               <h5>
                  <i>
                     "Waters I cupped my
                     <br>
                     hands to drink, wetting
                     <br>
                     my sleeves, still frozen:
                     <br>
                     Might this first day of
                     <br>
                     spring's wind thaw them?"
                  </i>
                  <br>
               </h5>
               <h5>- Ki no Tsurayuki, Kokin Waka Shu</h5>
               <p>Welcome to Happy Leaf, your go-to community and blog for embracing an eco-friendly lifestyle. Our platform is a judgment-free zone where you can freely explore and share insights on sustainable living. Join us in fostering a supportive space where we encourage positive change, personal growth, and a collective commitment to a greener world. Together, let's inspire and uplift each other on the journey to a healthier and happier life in harmony with nature.
               </p>
               <a href="{% url 'about_urls' %}" class="btn" id="about-btn">Get to know more</a>
            </div>
         </div>
      </div>
      <!--- Check our blog, Join our Community, and Contact Us Preview section -->
      <div class="row" id="preview-section">
         <!-- Check our blog card -->
         <div class="col-md-4 d-flex flex-column align-items-center mb-4">
            <div class="card" style="width: 26rem;">
               <img src="https://res.cloudinary.com/dmncxwmip/image/upload/v1707771466/happy-leaf-website/dive-articles_aar5ie.jpg" class="card-img-top" alt="Irish landscape, green hills.">
               <div class="card-body">
                  <h5 class="card-title">Dive into our latest articles</h5>
                  <p class="card-text">Immerse yourself in a world of sustainable living. Explore eco-friendly tips to make a positive impact, discover delicious vegan recipes for a cruelty-free culinary journey, and learn about the green initiatives shaping the beautiful landscapes of Ireland.</p>
                  <a href="{% url 'blog' %}" class="btn">Check our blog</a>
               </div>
            </div>
         </div>
         <!-- Join our Community card -->
         <div class="col-md-4 d-flex flex-column align-items-center mb-4">
            <div class="card" style="width: 26rem;">
               <img src="https://res.cloudinary.com/dmncxwmip/image/upload/v1707771466/happy-leaf-website/join-community_oghr2j.jpg" class="card-img-top" alt="Group of people sitting on the ground in a green park.">
               <div class="card-body">
                  <h5 class="card-title">Get involved</h5>
                  <p class="card-text">Ready to make a difference? Join our community and be part of the change. Explore engaging articles, connect with like-minded individuals, and embrace a sustainable lifestyle. Let's shape a greener and healthier world together!</p>
                  {% if user.is_authenticated %}
                  <a href="{% url 'blog' %}" class="btn">Welcome back!</a>
                  {% else %}
                  <a href="{% url 'account_signup' %}" class="btn">Join the community</a>
                  {% endif %}
               </div>
            </div>
         </div>
         <!-- Contact Us card -->
         <div class="col-md-4 d-flex flex-column align-items-center mb-4">
            <div class="card" style="width: 26rem;">
               <img src="https://res.cloudinary.com/dmncxwmip/image/upload/v1707772753/happy-leaf-website/contact-us-preview_g31eog.jpg" class="card-img-top" alt="Group of people laughing together">
               <div class="card-body">
                  <h5 class="card-title">Contact Us</h5>
                  <p class="card-text">Have questions or suggestions? Would you like to become a contributor of this blog? Reach out! We'd love to hear from you and we are always looking for new, green, fresh content to share with our amazing community.</p>
                  <a href="{% url 'contact_urls' %}" class="btn">Contact Us</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</main>
{%endblock%}