{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<main class="grid">
   <div class="container-fluid">
      <!-- Post Header Section -->
      <div class="masthead">
         <div class="container">
            <div class="row g-0">
               <div class="col-md-6 masthead-text">
                  <!-- Display the post title using h1 tags -->
                  <h1 class="post-title" id="post-title-1">{{ post.title }}</h1>
                  <!-- Display the post author and creation date -->
                  <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
               </div>
               <div class="d-none d-md-block col-md-6 masthead-image">
                  <!-- Display the featured image if available, else use a default image -->
                  {% if "placeholder" in post.featured_image.url %}
                  <img src="https://res.cloudinary.com/dmncxwmip/image/upload/v1705759910/happy-leaf-website/notavailable_cqwccw.png" width="100%">
                  {% else %}
                  <img src="{{ post.featured_image.url }}" width="100%">
                  {% endif %}
               </div>
            </div>
         </div>
      </div>
      <!-- Post Content Section -->
      <div class="container">
         <div class="row">
            <div class="col card mb-4 mt-3 left top">
               <div class="card-body">
                  <!-- Display the post content inside the card-text -->
                  <!-- Use the | safe filter to allow HTML in the content -->
                  <p class="card-text">{{ post.content | safe }}</p>
                  <div class="row">
                     <div class="col-1">
                        <!-- Enable likes if authenticated and display different icon -->
                        <strong>
                           {% if user.is_authenticated %}
                           <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                              {% csrf_token %}
                              {% if liked %}
                              <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i class="fas fa-heart"></i></button>
                              {% else %}
                              <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i class="far fa-heart"></i></button>
                              {% endif %}
                           </form>
                           {% else %}
                           <span class="text-secondary"><i class="far fa-heart"></i></span>
                           {% endif %}
                           <!-- Display the number of likes -->
                           <span class="text-secondary">{{ post.number_of_likes }} </span>
                        </strong>
                     </div>
                     <div class="col-1">
                        <!-- Display the total number of comments -->
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i> {{ total_comments }}</strong>
                        {% endwith %}
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col">
               <!-- Horizontal line as a separator -->
               <hr>
            </div>
         </div>
         <!-- Comments Section -->
         <div class="row">
            <div class="col-md-8 card mb-4 mt-3">
               <h3 id="comments-section">Comments:</h3>
               <div class="card-body">
                  <!-- Iterate through each comment and display commenter's name, creation date, and body -->
                  {% for comment in comments %}
                  <div class="comments" style="padding: 10px;">
                     <p class="font-weight-bold">
                        {{ comment.name }}
                        <span class="text-muted font-weight-normal">
                        {{ comment.created_on }} wrote:
                        </span>
                     </p>
                     <!-- Display the body of the comment using linebreaks -->
                     {{ comment.body | linebreaks }}
                  </div>
                  {% if user.is_authenticated and comment.name == user.username %}
                  <!-- Add delete button if authenticated user is the commenter -->
                  <form method="post" action="{% url 'delete_comment' comment.id %}" style="display: inline;">
                     {% csrf_token %}
                     <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                  </form>
                  {% endif %}
                  {% endfor %}
               </div>
            </div>
            <!-- Sidebar Section - Leave a comment -->
            <div class="col-md-4 card mb-4 mt-3">
               <div class="card-body">
                  {% if commented %}
                  <div class="alert alert-success" role="alert">
                     Your comment is awaiting approval
                  </div>
                  {% else %}
                  {% if user.is_authenticated %}
                  <h3 id="comments-section2">Leave a comment:</h3>
                  <p>Posting as: {{ user.username }}</p>
                  <form method="post" style="margin-top: 1.3em;">
                     {{ comment_form | crispy }}
                     {% csrf_token %}
                     <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                  </form>
                  {% endif %}
                  {% endif %}
               </div>
            </div>
         </div>
      </div>
   </div>
</main>
{%endblock%}